@page
@model IndexModel
@{
    Layout = "_Layout";
}
<h1>Our Visitors</h1>
<table border="1">
    <tr>
        <th>Visitor Name</th>
        <th>Visit Count</th>
        <th>Last Visit</th>
    </tr>
    @foreach(var item in Model.Visitors)
    {
        <tr>
            <td>@Html.DisplayFor(i => item.Id)</td>
            <td>@Html.DisplayFor(i => item.Frequency)</td>
            <td>@Html.DisplayFor(i => item.Recent)</td>
        </tr>
    }
</table>
<p>
    <a asp-page="Register">Register Your Visit</a>
</p>
