<!DOCTYPE html>
@model IEnumerable<DemoApp.Models.Visitor>
<html>
    <head>
        <title>DemoApp</title>
    </head>
    <body>
        <h1>Our Visitors</h1>
        <table border="1">
            <tr>
                <th>Visitor Name</th>
                <th>Visit Count</th>
                <th>Last Visit</th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(i => item.Id)</td>
                    <td>@Html.DisplayFor(i => item.Frequency)</td>
                    <td>@Html.DisplayFor(i => item.Recent)</td>
                </tr>
            }
        </table>
        <p>
            @Html.ActionLink("Register Your Visit", "Register")
        </p>
    </body>
</html>
