@page "{id}"
@model DemoApp.Pages.DetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
    <head>
        <title>DemoApp</title>
    </head>
    <body>
        <h1>@Model.Site.Name Visitors</h1>
        <table border="1">
            <tr>
                <th>Visitor Name</th>
                <th>Visit Count</th>
                <th>Last Visit</th>
            </tr>
            @foreach(var item in Model.Site.Visitors)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Frequency</td>
                    <td>@item.Recent</td>
                </tr>
            }
        </table>
        <p>
            <a asp-page="Index">Popular Sites</a>
        </p>
    </body>
</html>