@page "{name?}"
@{
    string visitor = (string)RouteData.Values["name"] ?? "World";    
}
@inject ISet<string> names
@functions
{
    IEnumerable<string> NamesOtherThan(string name)
    {
        lock(names)
        {
            names.Add(name);
            return from n in names where n != name select n;
        }
    }
}
@addTagHelper *, DemoApp
<!DOCTYPE html>
<html>
    <head>
        <title>DemoApp</title>
    </head>
    <body>
        <h1>Hello @visitor</h1>
        <vc:count-visits for-name="@visitor"/>
        <h2>Other Visitors</h2>
        <ol>
        @foreach(var item in NamesOtherThan(visitor))
        {
            <li><a href="/Greet/@item">@item</a></li>  
        } 
        </ol>
    </body>
</html>
